@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Nexa-Thin.otf") format("opentype"), url("../fonts/Nexa-Thin.ttf") format("truetype"), url("../fonts/Nexa-Thin.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Nexa-Thin-Italic.otf") format("opentype"), url("../fonts/Nexa-Thin-Italic.ttf") format("truetype"), url("../fonts/Nexa-Thin-Italic.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Nexa-Light.otf") format("opentype"), url("../fonts/Nexa-Light.ttf") format("truetype"), url("../fonts/Nexa-Light.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/Nexa-Light-Italic.otf") format("opentype"), url("../fonts/Nexa-Light-Italic.ttf") format("truetype"), url("../fonts/Nexa-Light-Italic.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Nexa-Book.otf") format("opentype"), url("../fonts/Nexa-Book.ttf") format("truetype"), url("../fonts/Nexa-Book.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Nexa-Book-Italic.otf") format("opentype"), url("../fonts/Nexa-Book-Italic.ttf") format("truetype"), url("../fonts/Nexa-Book-Italic.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nexa-Regular.otf") format("opentype"), url("../fonts/Nexa-Regular.ttf") format("truetype"), url("../fonts/Nexa-Regular.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Nexa-Italic.otf") format("opentype"), url("../fonts/Nexa-Italic.ttf") format("truetype"), url("../fonts/Nexa-Italic.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Nexa-Bold.otf") format("opentype"), url("../fonts/Nexa-Bold.ttf") format("truetype"), url("../fonts/Nexa-Bold.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Nexa-Bold-Italic.otf") format("opentype"), url("../fonts/Nexa-Bold-Italic.ttf") format("truetype"), url("../fonts/Nexa-Bold-Italic.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Nexa-XBold.otf") format("opentype"), url("../fonts/Nexa-XBold.ttf") format("truetype"), url("../fonts/Nexa-XBold.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Nexa-XBold-Italic.otf") format("opentype"), url("../fonts/Nexa-XBold-Italic.ttf") format("truetype"), url("../fonts/Nexa-XBold-Italic.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nexa-Heavy.otf") format("opentype"), url("../fonts/Nexa-Heavy.ttf") format("truetype"), url("../fonts/Nexa-Heavy.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Nexa-Heavy-Italic.otf") format("opentype"), url("../fonts/Nexa-Heavy-Italic.ttf") format("truetype"), url("../fonts/Nexa-Heavy-Italic.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Nexa-Black.otf") format("opentype"), url("../fonts/Nexa-Black.ttf") format("truetype"), url("../fonts/Nexa-Black.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Nexa-Black-Italic.otf") format("opentype"), url("../fonts/Nexa-Black-Italic.ttf") format("truetype"), url("../fonts/Nexa-Black-Italic.eot") format("embedded-opentype"); }
#click1, #click2, #click3 {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden; }

#click1 {
  background-color: #4761ac; }
  #click1 svg {
    display: block; }
    #click1 svg .cls-1 {
      fill: #65ffc0; }
  #click1 #counter {
    text-align: center; }
    #click1 #counter p {
      color: #65ffc0;
      text-align: center;
      font-family: Nexa;
      font-weight: 200;
      display: inline-block; }
  #click1 .clicker {
    color: #65ffc0;
    border-radius: 0; }

#click2 {
  background-color: #65ffc0; }
  #click2 svg {
    display: block;
    stroke-width: 2.5px; }
    #click2 svg .cls-1 {
      fill: none; }
  #click2 h2 {
    color: #4761ac;
    font-family: Nexa;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin: 0; }

#click3 {
  background-color: #65ffc0; }
  #click3 svg {
    display: block; }
  #click3 h2 {
    color: #4761ac;
    font-family: Nexa;
    font-style: italic;
    font-weight: 600;
    text-align: center; }
  #click3 p {
    color: #4761ac;
    font-family: Nexa;
    font-weight: 600;
    text-align: center; }

.clicker {
  background-color: transparent;
  color: #4761ac;
  font-family: Nexa;
  font-weight: 400;
  display: block;
  letter-spacing: .75px; }

@media (orientation: portrait) {
  #click1 svg {
    width: 24vw;
    margin: 26vh auto 14vw; }
  #click1 #counter p {
    font-size: 13vw;
    border: .5vw solid;
    padding: 7vw 0 4vw;
    width: 18vw;
    margin: 0; }
  #click1 #counter p:first-child {
    margin-right: -1vw; }

  #click2 svg {
    margin: 25vh auto 12vw;
    width: 14vw; }
  #click2 h2 {
    font-size: 10vw;
    padding: 0 13vw; }

  #click3 svg {
    width: 24vw;
    margin: 27vh auto 12vw; }
  #click3 h2 {
    font-size: 10vw;
    padding: 0 7.5vw; }
  #click3 p {
    font-size: 4vw; }

  .clicker {
    border: .5vw solid;
    font-size: 4vw;
    padding: 2vw 3vw;
    margin: 10vw auto 0; } }
@media (orientation: portrait) and (min-width: 750px) {
  #click1 svg {
    margin: 23vh auto 10vw;
    width: 18vw; }
  #click1 #counter p {
    border: .35vw solid;
    font-size: 10vw;
    padding: 5vw 0 2.5vw;
    width: 14vw; }
  #click1 #counter p:first-child {
    margin-right: -.8vw; }

  #click2 svg {
    margin: 22vh auto 11vw;
    width: 9vw; }
  #click2 h2 {
    font-size: 6.5vw;
    padding: 0 20vw; }

  #click3 svg {
    margin: 23vh auto 8vw;
    width: 18vw; }
  #click3 h2 {
    font-size: 7.5vw;
    padding: 0 18vw; }
  #click3 p {
    font-size: 2.5vw; }

  .clicker {
    font-size: 2.5vw;
    padding: 1.5vw 2.5vw;
    border: .35vw solid;
    margin: 8vw auto 0; } }
@media (orientation: landscape) {
  #click1 svg {
    width: 11vw;
    margin: 25vh auto 4vw; }
  #click1 #counter p {
    margin: 0;
    font-size: 5vw;
    padding: 3vw 0 2vw;
    width: 7vw;
    border: .6vh solid; }
  #click1 #counter p:first-child {
    margin-right: -1.1vh; }

  #click2 svg {
    margin: 22vh auto 4vw;
    width: 6vw; }
  #click2 h2 {
    font-size: 5vw;
    padding: 0 31vw; }

  #click3 svg {
    width: 11vw;
    margin: 27vh auto 5vw; }
  #click3 h2 {
    font-size: 5vw;
    padding: 0 10vw; }
  #click3 p {
    font-size: 2.25vw; }

  .clicker {
    margin: 3vw auto 0;
    padding: 1vw 1.5vw;
    font-size: 2vw;
    border: .6vh solid;
    cursor: pointer; } }
@media (orientation: landscape) and (min-width: 1050px) {
  #click1 svg {
    width: 8vw;
    margin: 25vh auto 3.5vw; }
  #click1 #counter p {
    margin: 0;
    font-size: 4vw;
    padding: 2.5vw 0 1.5vw;
    width: 6vw;
    border: .5vh solid; }
  #click1 #counter p:first-child {
    margin-right: -1vh; }

  #click2 svg {
    margin: 22vh auto 4vw;
    width: 4vw; }
  #click2 h2 {
    font-size: 3.5vw;
    padding: 0 31vw; }

  #click3 svg {
    width: 8vw;
    margin: 26vh auto 5vw; }
  #click3 h2 {
    font-size: 3.5vw;
    margin: 0;
    padding: 0 25vw; }
  #click3 p {
    font-size: 2vw;
    margin: 2vw 0; }

  .clicker {
    margin: 2.75vw auto 0;
    padding: .75vw 1.25vw;
    font-size: 1.5vw;
    border: .5vh solid;
    cursor: pointer; } }
body {
  height: 100vh;
  width: 100vw;
  margin: 0; }

#newsLetter {
  position: absolute;
  bottom: 0; }
  #newsLetter p {
    font-size: 1.75vw;
    margin: .75vw;
    letter-spacing: .5px; }
  #newsLetter #formFields {
    width: 94vw;
    padding: 0 3vw;
    text-align: center;
    height: 6vw;
    overflow: hidden; }
    #newsLetter #formFields input {
      display: inline-block; }
    #newsLetter #formFields #emailField {
      width: 51%;
      text-align: left;
      margin: 0 2% 0 0;
      padding: 0 0 1vw 2vw;
      border-radius: 0;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: .4vw solid #4761ac;
      background-color: transparent;
      font-size: 1.75vw;
      font-family: Nexa;
      font-weight: 600;
      color: #4761ac;
      vertical-align: bottom; }
    #newsLetter #formFields #emailField::-webkit-input-placeholder {
      color: #4761ac;
      font-weight: 400;
      letter-spacing: .5px; }
    #newsLetter #formFields #submitButton {
      display: inline-block;
      vertical-align: bottom;
      padding: 1vw 1.5vw;
      font-size: 1.5vw;
      position: relative;
      cursor: pointer;
      border-radius: 0;
      margin: 0; }

@media (orientation: landscape) {
  #newsLetter {
    position: absolute;
    bottom: 0 vw; }
    #newsLetter p {
      font-size: 1.25vw; }
    #newsLetter #formFields #emailField {
      width: 33%;
      border-bottom: .35vw solid #4761ac;
      font-size: 1.25vw;
      padding: 0 0 .4vw 1.25vw; }
    #newsLetter #formFields #submitButton {
      cursor: pointer;
      font-size: 1.25vw;
      padding: 0.5vw 1vw; } }

/*# sourceMappingURL=main.css.map */
