@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Nexa-Thin.otf") format("opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Nexa-Thin-Italic.otf") format("opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Nexa-Light.otf") format("opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/Nexa-Light-Italic.otf") format("opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Nexa-Book.otf") format("opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Nexa-Book-Italic.otf") format("opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nexa-Regular.otf") format("opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Nexa-Italic.otf") format("opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Nexa-Bold.otf") format("opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Nexa-Bold-Italic.otf") format("opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Nexa-XBold.otf") format("opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Nexa-XBold-Italic.otf") format("opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nexa-Heavy.otf") format("opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Nexa-Heavy-Italic.otf") format("opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Nexa-Black.otf") format("opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Nexa-Black-Italic.otf") format("opentype"); }
#click1 {
  background-color: #4761ac;
  position: absolute;
  width: 100vw;
  height: 100vh; }
  #click1 svg {
    display: block;
    width: 24vw;
    margin: 26vh auto 14vw; }
    #click1 svg .cls-1 {
      fill: #65ffc0; }
  #click1 #counter {
    text-align: center; }
    #click1 #counter p {
      color: #65ffc0;
      text-align: center;
      font-size: 13vw;
      font-family: Nexa;
      font-weight: 200;
      display: inline-block;
      border: .5vw solid;
      padding: 7vw 0 4vw;
      width: 18vw;
      margin: 0; }
    #click1 #counter p:first-child {
      margin-right: -1vw; }
  #click1 .clicker {
    color: #65ffc0; }

#click2 {
  background-color: #65ffc0;
  position: absolute;
  width: 100vw;
  height: 100vh; }
  #click2 svg {
    display: block;
    margin: 29vh auto 10vw;
    width: 14vw;
    stroke-width: 2.5px; }
    #click2 svg .cls-1 {
      fill: none; }
  #click2 h2 {
    color: #4761ac;
    font-family: Nexa;
    font-size: 10vw;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0 13vw; }

#click3 {
  background-color: #65ffc0;
  position: absolute;
  width: 100vw;
  height: 100vh; }
  #click3 svg {
    display: block;
    width: 24vw;
    margin: 31vh auto 8vw; }
  #click3 h2 {
    color: #4761ac;
    font-family: Nexa;
    font-size: 10vw;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    padding: 0 7.5vw; }
  #click3 p {
    color: #4761ac;
    font-family: Nexa;
    font-size: 3.5vw;
    font-weight: 600;
    text-align: center; }

.clicker {
  background-color: transparent;
  border: .5vw solid;
  color: #4761ac;
  font-family: Nexa;
  font-size: 4vw;
  font-weight: 500;
  padding: 2vw 3vw;
  display: block;
  margin: 10vw auto 0; }

@media (orientation: landscape) {
  #click1 svg {
    width: 11vw;
    margin: 20vh auto 4vw; }
  #click1 #counter p {
    font-size: 5vw;
    padding: 3vw 0 2vw;
    width: 7vw;
    border: .4vw solid; }
  #click1 #counter p:first-child {
    margin-right: -.8vw; }

  #click2 svg {
    margin: 18vh auto 4vw;
    width: 6vw; }
  #click2 h2 {
    font-size: 5vw;
    padding: 0 31vw; }

  #click3 svg {
    width: 11vw;
    margin: 20vh auto 4vw; }
  #click3 h2 {
    font-size: 5vw;
    padding: 0 10vw; }
  #click3 p {
    font-size: 2.25vw; }

  .clicker {
    margin: 3vw auto 0;
    padding: 1vw 1.5vw;
    font-size: 2vw;
    border: .4vw solid;
    cursor: pointer; } }
body {
  height: 100vh;
  width: 100vw;
  margin: 0; }

/*# sourceMappingURL=main.css.map */
