#contactView {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    
    background-color: #65ffc0;

    svg {
        display: block;
    }

    h2 {
        font-family: Nexa;
        font-style: italic;
        font-weight: 800;
        color: #4761ac;
    }

    form {
        input {
            background-color: transparent;
            border-top: 0;
            border-right: 0;
            border-left: 0;

            text-align: center;
            font-family: Nexa;
            color: #4761ac;
        }

        input::-webkit-input-placeholder {
            color: #4761ac;
            opacity: .5;
        }

        input::-moz-placeholder {
            color: #4761ac;
            opacity: .5;   
        }

        input: -ms-input-placeholder {
            color: #4761ac;
            opacity: .5;      
        }

        input: -moz-placeholder {
            color: #4761ac;
            opacity: .5;   
        }

        input:last-child {
            border-radius: 0;
        }

        #contactName {
            display: inline-block;
        }

        #contactNameInput {
            display: inline-block;
            border-radius: 0;
        }

        #contactPosition {
            display: inline-block;
        }

        #contactPositionInput {
            display: inline-block;
            border-radius: 0;
        }

        #contactCompany {
            display: inline-block;
        }

        #contactCompanyInput {
            display: inline-block;
            border-radius: 0;
        }

        #contactInfoInput {
            border-radius: 0;
        }

        #contactServicesInput {
            border-radius: 0;
        }
    }

    #contactServicesModal {
        background-color: #65ffc0;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;

        .unselectedService {
            font-style: normal;
            font-weight: 400;
        }
    }

}


@media (orientation: portrait){
    #contactView {
        svg {
            width: 24vw;
            margin: 10vh auto 8vw;
        }

        form {
            margin: 0 auto;
            width: 80vw;

            h2 {
                font-size: 6vw;
                margin: 3.5vw 0;
            }

            input {
                font-size: 4vw;
                border-bottom: .6vw solid #4761ac;
            }

            input:last-child {
                border: .6vw solid #4761ac;
                padding: 2vw 5vw;
            }

            #contactName {
                display: inline-block;
            }

            #contactNameInput {
                display: inline-block;
                width: 51%;
            }

            #contactPosition {
                display: inline-block;
            }

            #contactPositionInput {
                display: inline-block;
                width: 75%;
            }

            #contactCompany {
                display: inline-block;
            }

            #contactCompanyInput {
                display: inline-block;
                width: 85%;
            }

            #contactInfoInput {
                width: 93%;
            }

            #contactServicesInput {
                width: 93%;
            }

        }

        #contactServicesModal {
            border: .6vw solid #4761ac;
            margin: 22vh auto;
            padding: 8vw;
            width: 75vw;

            h2 {
                margin: 10vw 0;
            }

            .clicker {
                font-size: 4vw;
                padding: 2vw 5vw;
                border: .6vw solid;
                margin-top: 2vw;
            }
        }
    }
}

@media (orientation: portrait) and (min-width: 750px){
    #contactView {
        svg {
            width: 18vw;
            margin: 8vh auto 6vw;
        }

        form {
            margin: 0 auto;
            width: 80vw;

            h2 {
                font-size: 4vw;
                margin: 3vw 0;
            }

            input {
                font-size: 3.25vw;
            }

            #contactNameInput {
                width: 67%;
            }

            #contactPositionInput {
                width: 83%;
            }

            #contactCompanyInput {
                width: 89%;
            }

            #contactInfoInput {
                width: 95%;
            }

            #contactServicesInput {
                width: 95%;
            }

        }

        #contactServicesModal {
            border: .6vw solid #4761ac;
            margin: 22vh auto;
            padding: 5vw;
            width: 71vw;

            h2 {
                margin: 8vw 0;
                font-size: 3.25vw;
                padding-left: 5vw;
            }

            .unselectedService {
                font-style: normal;
                font-weight: 400;
            }

            .clicker {
                font-size: 3.25vw;
                padding: 2vw 5vw;
                border: .6vw solid;
                margin-top: 2vw;
            }
        }
    }
}
@media (orientation: landscape){
    #contactView {
        svg {
            width: 11vw;
            margin: 12vh auto 2vw;
        }

        form {
            margin: 0 auto;
            width: 80vw;
            padding: 0 10vh;

            h2 {
                font-size: 3.25vw;
                margin: 1.5vw 0;
            }

            input {
                font-size: 2.75vw;
                border-bottom: .6vh solid #4761ac;
            }

            input:last-child {
                border: .6vh solid #4761ac;
                padding: 2vh 5vh;
            }

            #contactNameInput {
                width: 72%;
            }

            #contactPositionInput {
                width: 38%;
            }

            #contactCompanyInput {
                width: 38%;
            }

            #contactInfo {
                display: inline-block;
            }

            #contactInfoInput {
                display: inline-block;
                width: 44%;
            }

            #contactServices {
                display: inline-block;
            }

            #contactServicesInput {
                display: inline-block;
                width: 41%;
            }
        }

        #contactServicesModal {
            border: .4vw solid #4761ac;
            margin: 11vh auto 0;
            padding: 8vh;
            width: 75vw;

            h2 {
                margin: 4vh 0;
                width: 49%;
                display:inline-block;
                vertical-align: top;
                font-size: 3.25vw;
            }

            .unselectedService {
                font-style: normal;
                font-weight: 400;
            }

            .clicker {
                font-size: 2.75vw;
                padding: 2vh 5vh;
                border: .6vh solid;
                margin-top: 2vh;
            }
        }
    }
}
@media (orientation: landscape) and (min-width: 1050px){
    #contactView {
        svg {
            width: 8vw;
            margin: 11vh auto 5.5vw;
        }

        form {
            width: 62vw;

            h2 {
                font-size: 2.25vw;
                margin: 1.5vw 0;
            }

            input {
                font-size: 1.75vw;
                border-bottom: .4vh solid #4761ac;
            }

            input:last-child {
                border: .4vh solid #4761ac;
                padding: 1.25vh 4vh;
                margin: 4.75vw auto 0;
            }

            #contactNameInput {
                width: 77%;
            }

            #contactPositionInput {
                width: 42%;
            }

            #contactCompanyInput {
                width: 42%;
            }

            #contactInfo {
                display: inline-block;
            }

            #contactInfoInput {
                display: inline-block;
                width: 52%;
            }

            #contactServices {
                display: inline-block;
            }

            #contactServicesInput {
                display: inline-block;
                width: 50%;
            }
        }

        #contactServicesModal {
            margin: 23vh auto 0;
            width: 54vw;

            h2 {
                margin: 4vh 0;
                width: 49%;
                font-size: 2.25vw;
            }

            .clicker {
                font-size: 1.75vw;
                padding: 1.25vh 4vh;
                border: .4vh solid;
                margin-top: 2vh;
            }
        }

    }
}