@import "fonts.scss";
@import "splash.scss";

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#mc_embed_signup {
    position: absolute;
    bottom: 0;

    p {
        font-size: 1.75vw;
        margin: .75vw;
    }

    form#mc-embedded-subscribe-form {
        width: 94vw;
        padding: 0 3vw;
        text-align: center;
        height: 6vw;

        #mc_embed_signup_scroll {
            width: 100%;
            overflow: hidden;

            div {
                display: inline-block;
            }

            .mc-field-group {
                width: 55%;
                text-align: left;

                input {
                    padding: 0 0 1vw 2vw;
                    width: 90%;
                    border-radius: 0;
                    border-top: 0;
                    border-right: 0;
                    border-left: 0;
                    border-bottom: .4vw solid #4761ac;
                    background-color: transparent;
                    font-size: 1.75vw;
                    font-family: Nexa;
                    font-weight: 600;
                    color: #4761ac;
                    vertical-align: bottom;
                }
            }

            .clear {
                vertical-align: bottom;

                .clicker {
                    padding: 1vw 1.5vw;
                    font-size: 1.5vw;
                    margin: 0;
                    position: relative;
                    cursor: pointer;
                    border-radius: 0;
                }
            }
        }
    }
}

@media (orientation: landscape){
    #mc_embed_signup {
        bottom: 0 vw;
        position: absolute;

        p {
            font-size: 1.25vw;
        }

        form#mc-embedded-subscribe-form {
            #mc_embed_signup_scroll {
                .mc-field-group {
                    width: 35%;

                    input {
                        border-bottom: .35vw solid #4761ac;
                        font-size: 1.25vw;
                        padding: 0 0 .4vw 1.25vw;
                        width: 93%;
                    }
                }
                .clear {
                    .clicker {
                        cursor: pointer;
                        font-size: 1.25vw;
                        padding: 0.5vw 1vw;
                    }
                }
            }
        }
    }
}