#click1, #click2, #click3 {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

#click1 {
    background-color: #4761ac;
    
    svg {
        display: block;

        .cls-1 {
            fill: #65ffc0;
        }   
    }

    #counter {
        text-align: center;

        p {
            color: #65ffc0;
            text-align: center;
            font-family: Nexa;
            font-weight: 200;
            display: inline-block;
        }
    }

    .clicker {
        color: #65ffc0;  
    }
    
}

#click2 {
    background-color: #65ffc0;

    svg {
        display: block;
        stroke-width: 2.5px;

        .cls-1 {
            fill: none;
        }  
    }

    h2 {
        color: #4761ac;
        font-family: Nexa;
        font-style: italic;
        font-weight: 600;
        text-align: center;
        margin: 0;
    }

}

#click3 {
    background-color: #65ffc0;

    svg {
        display: block;
    }

    h2 {
        color: #4761ac;
        font-family: Nexa;
        font-style: italic;
        font-weight: 600;
        text-align: center;
    }

    p {
        color: #4761ac;
        font-family: Nexa;
        font-weight: 600;
        text-align: center;
    }   


}

.clicker {
    background-color: transparent;
    color: #4761ac;
    font-family: Nexa;
    font-weight: 500;
    display: block;
}

@media (orientation: portrait){
    #click1{
        svg {
            width: 24vw;
            margin: 26vh auto 14vw;   
        }

        #counter {
            p {
                font-size: 13vw;
                border: .5vw solid;
                padding: 7vw 0 4vw;
                width: 18vw;
                margin: 0;
            }

            p:first-child {
                margin-right: -1vw;
            }

        }
    } 

    #click2{
        svg {
            margin: 25vh auto 12vw;
            width: 14vw;
        }

        h2 {
            font-size: 10vw;
            padding: 0 13vw;
        }
    }

    #click3{
        svg {
            width: 24vw;
            margin: 27vh auto 12vw;
        }

        h2 {
            font-size: 10vw;
            padding: 0 7.5vw;
        }

        p {
            font-size: 4vw;
        }

    }

    .clicker{
        border: .5vw solid;
        font-size: 4vw;
        padding: 2vw 3vw;
        margin: 10vw auto 0;
    }
}

@media (orientation: portrait) and (min-width: 750px){
    #click1 {
        svg {
            margin: 23vh auto 10vw;
            width: 18vw;
        }

        #counter {
            p {
                border: .35vw solid;
                font-size: 10vw;
                padding: 5vw 0 2.5vw;
                width: 14vw;
            }

            p:first-child {
                margin-right: -.8vw;
            }
        }
    }

    #click2 {
        svg {
            margin: 22vh auto 11vw;
            width: 9vw;
        }

        h2 {
            font-size: 6.5vw;
            padding: 0 20vw;
        }
    }

    #click3 {
        svg {
            margin: 23vh auto 8vw;
            width: 18vw;
        }

        h2 {
            font-size: 7.5vw;
            padding: 0 18vw;
        }

        p {
            font-size: 2.5vw;
        }
    }

    .clicker {
        font-size: 2.5vw;
        padding: 1.5vw 2.5vw;
        border: .35vw solid;
        margin: 8vw auto 0;
    }
}

@media (orientation: landscape){
    #click1 {
        svg {
            width: 11vw;
            margin: 25vh auto 4vw;

        }

        #counter {
            p {
                margin: 0;
                font-size: 5vw;
                padding: 3vw 0 2vw;
                width: 7vw;
                border: .6vh solid;
            }

            p:first-child {
                margin-right: -1.1vh;
            }
        }
    }

    #click2 {
        svg {
            margin: 22vh auto 4vw;
            width: 6vw;
        }

        h2 {
            font-size: 5vw;
            padding: 0 31vw;
        }
    }

    #click3 {
        svg {
            width: 11vw;
            margin: 27vh auto 5vw;
        }

        h2 {
            font-size: 5vw;
            padding: 0 10vw;
        }

        p {
            font-size: 2.25vw;
        }
    }

    .clicker {
        margin: 3vw auto 0;
        padding: 1vw 1.5vw;
        font-size: 2vw;
        border: .6vh solid;
        cursor: pointer;       
    }
}