<div ng-show="view === 0" id="click1">
    <h1>cuz</h1>
    <div id="counter">
        <p>{{counter[0]}}</p>
        <p>{{counter[1]}}</p>
    </div>
    <button ng-click="clicker()">{{buttonText}}</button>
</div>

<div ng-show="view === 1" id="click2">
    <svg></svg>
    <h2>now that's what you call...</h2>
    <button ng-click="view = view+1">{{buttonText}}</button>
</div>

<div ng-show="view === 2" id="click3">
    <h1>cuz</h1>
    <h2>we are a creative agency located in atlanta.</h2>
    <p>coming soon</p>
</div>
